body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(148,228,227);
background: linear-gradient(90deg, rgba(148,228,227,1) 0%, rgba(222,231,103,1) 100%, rgba(148,228,227,1) 100%); 
}
