{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1 id="tournamentTitle">Tournament Name</h1>
    </div>
  </div>
  <div class="row standingsMatches">
    <div class="col-sm standings">
      <h2>Standings</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Place</th>
            <th scope="col">Player</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          {% for item in standings %}
          <tr>
            <th scope = "row">place</th>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm matches">
      <h2>Matches</h2>
    </div>
  </div>
</div>

{% endblock %}
